.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 150px;
}
.header ul {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  padding-right: 15px;
}

.header li {
  list-style: none;
  font-size: 28px;
  margin: 0px 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

.contenedor {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.noticias {
  width: 100%;
  margin: 15px 0;
  padding: 15px;
}
.noticias h1 {
  font-size: 21px;
  color: rgb(16, 92, 16);
  text-align: justify;
}
.noticias p {
  font-size: 18px;
  text-align: justify;
}
button {
  background-color: rgb(3, 79, 12);
  color: white;
  padding: 5px;
  width: 100px;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  background-color: rgb(143, 242, 143);
  height: 100px;
}
footer a {
  color: rgb(3, 68, 3);
}

.btn-primary {
  border: solid 1px hsl(136, 97%, 20%);
  background-color: hsl(136, 97%, 30%);
}

.btn-primary:focus,
.btn-primary:hover {
  box-shadow: none;
  border: solid 1px hsl(136, 97%, 30%);
  background-color: hsl(136, 97%, 20%);
}
